* {
    margin: 0;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: row;
}

.board-row ::after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    text-align: center;
    width: 34px;
    padding: 0;
    margin-right: -1px;
}

.game-info {
    margin-left: 20px;
}