* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.todo-wrapper {
  background-color: rgba(28, 27, 27, 0.62);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;

}

.todo-input::placeholder {
  color: lightgray;
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8758ff;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 35px;
  margin-top: -19px;
  margin-left: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;

}