* {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    padding: 0;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

button[type='button'] {
    margin: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-left: 5px;
}